<table class="table table-hover table-striped table-condensed">
  <h2>Your Boards</h2>
  <!-- <a href="/lists/new">Add a List</a> -->
  <!-- <%= link_to "Add a List", "/lists/new" %> -->
  <%= link_to "Add a Board", new_board_path %>

  <ul>
    <% @board.each do |board| %>
      <li>
        <%= link_to board.name, board %>

        
        <%= link_to "X", board_path(board), method: :delete %>
        <%= link_to "Edit", edit_board_path(board) %>
      </li>
    <% end %>
  </ul>
</table>
