<h2><%= @board.name%></h2>
  <%= form_for @board, url: new_post_path, method: :get do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <button class="btn btn-primary">Write a Post</button>
<% end %>


<% @board.posts.each do |post| %>
<div class="well well-lg">
  <tr class="active">
    <p>Title:</p>
    <td><%= post.title %></td>
    <p>Content:</p>
    <td class="well well-lg"><%= post.content %></td>
    <div>
    <%= link_to 'Delete', post_path(post), method: :delete, class: "btn btn-default btn-xs" %>

    <td><%=post.get_upvotes.size%>
    <%= link_to like_post_path(post), method: :put do %>
      <i class="glyphicon glyphicon-chevron-up"></i>
      <% end %>
    </td>

    <td><%=post.get_downvotes.size%>
    <%= link_to dislike_post_path(post), method: :put do %>
      <i class="glyphicon glyphicon-chevron-down"></i>
      <% end %>
    </td>

    </div
  </tr>
</div>
<%end%>
