<table class="table table-hover table-striped table-condensed">
  <h2>Your Posts</h2>
  <!-- <a href="/lists/new">Add a List</a> -->
  <!-- <%= link_to "Add a List", "/lists/new" %> -->
  <%= link_to "Add a Post", new_post_path %>

  <ul>
    <% @post.each do |list| %>
      <li>
        <%= link_to post.title, post %>
        <!-- <form method="POST" action="/lists/<%= list.id %>">
          <input name="_method" type="hidden" value="DELETE">
          need CSRF token -->

        <!-- Take 1: writing a form directly -->
        <!-- <%= form_tag "/lists/#{list.id}", method: :delete do %>
          <button>X</button>
        <% end %> -->

        <!-- <%= button_to "X", "/lists/#{list.id}", method: :delete %> -->

        <%= link_to "X", list, method: :delete %>
      </li>
    <% end %>
  </ul>
</table>


<!-- <% provide(:title, 'Post new message') %>
<h1>Post Message</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for post, url: new_post_path(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.email_field :content, class: 'form-control' %>

      <%= f.label :board %>
      <%= f.password_field :board, class: 'form-control' %>

      <button class="btn btn-primary">Post</button>
    <% end %>
  </div>
</div> -->
