  <% provide(:title, 'Make a new Board') %>
  <h1>Post Message</h1>

  <div class="row" style = "margin: 5px;">
    <div class="col-md-6 col-md">
      <%= form_for @post, url: posts_path do |f| %>

        <%= f.label :title%>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :content%>
        <%= f.text_field :content, class: 'form-control' %>
        <%= f.hidden_field :board_id, value: @board.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <button class="btn btn-primary">Post</button>
      <% end %>
    </div>
  </div>
